<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phang.tablet" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>phang</name>
	<description>Drinks blood</description>
	<author email="stanislas.duprey@gmail.com" href="http://phangapp.com">
			Stanislas Duprey
	</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="splash-screen-duration" value="2000" />
	<preference name="orientation" value="landscape" />
	<preference name="target-device" value="tablet" />
	<preference name="fullscreen" value="true" />
	<preference name="disallowOverscroll" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />
</widget>
